

main{
    min-height: 80vh;
    background-color: #e9ebee;
}

.componentWraper{
    background-color: white;

}


h3{
    padding: 1rem 0;
}

.cardImage {
    height: auto;
    max-height: 250px;
    width: auto;
    max-width: 250px;
}

.productImage {
    width: 300px;
}


